<div class="d-flex justify-content-center p-5 shadow">

<div class="container-fluid ">
<button type="button" class="btn btn-primary float-right m-2"
data-toggle="modal" data-target="#exampleModal"
data-backdrop="static" data-keyboard="false">
   Add Programmer
 </button>
 


<table class="table table-stripped">
<thead>
    <label>Programmer list</label>
    <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Gender</th>
        <th>DOJ</th>
        <th>CreatedDate</th>
    </tr>
</thead>
<tbody>
   <tr *ngFor="let programmer of Programmers">
    <td>{{programmer.lastName}} </td>
    <td>{{programmer.firstName}} </td>
    <td>{{programmer.gender}} </td>
    <td>{{programmer.doj}} </td>
    <td>{{programmer.createdDate}}</td>
  
    <td>
      <button type="button" class="btn btn-light mr-1"
      data-toggle="modal" data-target="#exampleModal"
      (click)="editClick(programmer)"
      data-backdrop="static" data-keyboard="false">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
        </svg>
       
      </button>
      <button type="button" class="btn btn-light mr-1"
      (click)="deleteClick(programmer)"
      >
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
      </button>
  </td>
  </tr>
  </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
        data-dismiss="modal" aria-label="Close"
        (click)="closeClick()" >
         <span aria-hidden="true">&times;</span>
       </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addProgrammerForm" >
        <div class="d-flex flex-row bd-highlight mb-3">
          <div class="form-froup row" style="width: 60%">
          
              <label class="col-sm-2 col-form-label>">First Name </label>
              <div class="col-sm-10">
                  <input type="text" formControlName="firstName" 
                  placeholder="Enter First Name">
              </div>
              <label class="col-sm-2 col-form-label>">Last Name </label>
              <div class="col-sm-10">
                  <input type="text"  formControlName="lastName" 
                  placeholder="Enter Last Name">
              </div>
          
              <label class="col-sm-2 col-form-label>">Gender </label>
              <div class="col-sm-10">
                  <select class="form-control" formControlName="gender" >
                      <option>--Select--</option>
                      <option *ngFor="let gender of genderList">
                          {{gender}}
                      </option>
                  </select>
              </div>
    
              <label class="col-sm-2 col-form-label>">Date of joining</label>
              <div class="col-sm-10">
                  <input type="date" formControlName="doj" required>
              </div>
          </div>  
          <div class="ml-3 bd-highlight" style="width: 40%;">
            <img [src]= PhotoFilePath height="250px;" width="200px;">
            <input type="file" (change)="uploadPhoto($event)" class="mt-2"/>
            </div>  
       </div>
          <button (click)="addProgrammer(addProgrammerForm.value)"  class="btn btn-primary">
            Add
          </button>
          <button (click)="updateProgrammer(addProgrammerForm.value)" class="btn btn-primary">
            Update
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
</div>