<div class="container">

  <h3 class="d-flex justify-content-center">DEMO</h3>
  <h5 class="d-flex justify-content-center" >Knowlege acount system</h5>

  <nav class="navbar navbar-dark sticky-top bg-gray flex-md-nowrap p-0 shadow">
    <span><button class="m-1 btn btn-light btn-outline-primary" routerLink="/">{{title}}</button></span>
  
    <div class="sidebar-sticky pt-3">
     <button routerLink="/area"
     class="m-1 btn btn-light btn-outline-primary" Button  *ngIf="isProgrammer">Areas</button>
     <button routerLink="/programmer-information"
     class="m-1 btn btn-light btn-outline-primary" Button  *ngIf="isProgrammer">Info</button>
     <button routerLink="/programmers"
          class="m-1 btn btn-light btn-outline-primary" Button  *ngIf="isAdmin">Programmers</button>
          <button routerLink="/programmers"
          class="m-1 btn btn-light btn-outline-primary" Button  *ngIf="isManager">Programmers</button>
     <button routerLink="/login"
          class="m-1 btn btn-light btn-outline-primary" Button  *ngIf="!isAuth">Login</button>
    
    
     <button routerLink="/register"
          class="m-1 btn btn-light btn-outline-primary" Button  *ngIf="!isAuth">Register</button>
        
      <button class="m-1 btn btn-light btn-outline-primary" Button  *ngIf="isAuth" 
          (click)='logout()'>Logout</button>
     </div>
  </nav>
<router-outlet></router-outlet>
</div>

<p class="mt-5 mb-3 sticky-bot text-muted text-center">&copy; 2017-2020</p>