<div class="d-flex justify-content-center p-5 shadow">
  <div class="container-fluid ">
  <button type="button" class="btn btn-light mr-1"
  data-toggle="modal" data-target="#exampleModal"
  data-backdrop="static" data-keyboard="false" (click)="showArea()" >Areas</button>
     <!-- Modal -->
 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
        data-dismiss="modal" aria-label="Close"
        (click)="closeClick()" >
         <span aria-hidden="true">&times;</span>
       </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addProgrammerForm">
        <div class="d-flex flex-row bd-highlight mb-3">
          <div class="form-froup row" style="width: 60%">
          
              <label class="col-sm-2 col-form-label>">First Name </label>
              <div class="col-sm-10">
                  <input type="text" formControlName="firstName" 
                  placeholder="Enter First Name">
              </div>
              <label class="col-sm-2 col-form-label>">Last Name </label>
              <div class="col-sm-10">
                  <input type="text"  formControlName="lastName" 
                  placeholder="Enter Last Name">
              </div>
          
              <label class="col-sm-2 col-form-label>">Gender </label>
              <div class="col-sm-10">
                  <select class="form-control" formControlName="gender" >
                      <option>--Select--</option>
                      <option *ngFor="let gender of genderList">
                          {{gender}}
                      </option>
                  </select>
              </div>
    
              <label class="col-sm-2 col-form-label>">Date of joining</label>
              <div class="col-sm-10">
                  <input type="date" formControlName="doj" required>
              </div>
          </div>  
          <div class="ml-3 bd-highlight" style="width: 40%;">
            <img [src]= PhotoFilePath height="250px;" width="200px;">
            <input type="file" (change)="uploadPhoto($event)" class="mt-2"/>
            </div>  
       </div>
            <button (click)="updateProgrammer(addProgrammerForm.value)" class="btn btn-primary">
             Update
            </button>
 
        </form>
      </div>
    </div>
  </div>
</div>
    
    
    <div class="row">
    <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
      <div class=" col-md-9 col-lg-9 " style="width: 40%;">
        <img [src]= PhotoFilePath height="250px;" width="200px;">
        <input type="file" (change)="uploadPhoto($event)" class="mt-2"/>
        </div> 
     <br>
    </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
 
 
        <div class="panel panel-info">
          <div class="panel-body">
            <div class="row">
              <div class=" col-md-9 col-lg-9 "> 
                <table class="table table-user-information">
                  <tbody *ngFor = "let p of prog">
                    <tr>
                      <td>Name:</td>
                      <td>{{p.firstName}}  {{p.lastName}}</td>
                    </tr>
                    <tr>
                      <td>Date of join</td>
                      <td>{{p.doj}} </td>
                    </tr>
                       <tr>
                           <tr>
                      <td>Gender</td>
                      <td>{{p.gender}} </td>
                            
                  </tbody>
                </table>
                
                <button type="button" class="btn btn-light mr-1"
                data-toggle="modal" data-target="#exampleModal"
                data-backdrop="static" data-keyboard="false" >
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                  </svg>
                </button>
              </div>
            </div>
   
             
          </div>
        </div>
      </div>
    </div>
  </div>
</div>