
<div class="d-flex justify-content-center p-5 shadow">
  <div class="container-fluid ">
<form class="form-signin" [formGroup]="form" (ngSubmit)="form.valid && login()" >
  <div class="form-label-group mb-2">  
  <label for="inputLogin">Login</label>
    <input id="inputLogin" class="form-control" 
    formControlName="login"
             type="text"
             placeholder="login"
             [ngClass]="{'is-invalid': 
            form.get('login')!.touched && form.get('login')!.invalid}"
            />
     <div class="invalid-feedback">
       <div>Login is required</div>
     </div>
  </div>

  <div class="form-label-group mb-2">  
    <label for="inputEmail">Email</label>
      <input id="inputEmail" class="form-control" 
      formControlName="email"
               type="text"
               placeholder="email"
               [ngClass]="{'is-invalid': 
              form.get('email')!.touched && form.get('email')!.invalid}"
              />
       <div *ngIf = "form.get('email')!.touched && form.get('email')!.invalid" class="invalid-feedback">
         <div *ngIf = "form.get('email')!.errors!.required"  >Email is required</div>
         <div *ngIf = "form.get('email')!.errors!.email" >Email must be a valid email address</div>
       </div>
    </div>

  <div class="form-label-group mb-2">
    <label for="inputPassword">Password</label>
    <input id="inputPassword"
    class="form-control" formControlName="password"
    type="password"
    required
    placeholder="password" required
    [ngClass]="{'is-invalid': 
    form.get('password')!.touched && form.get('password')!.invalid}"
    />
    <div class="invalid-feedback">
      <div>Password is required</div>
    </div>
  </div>

  <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!form.valid">Sign in</button>
 
</form>
</div>
</div>