
<div class="d-flex justify-content-center p-5 shadow">
  <div class="container-fluid ">
    <form  [formGroup]="addProgrammerForm"  >
      <div class="panel panel-default">
        <div class="panel-body">
            <label class="form-group">First Name </label>
            <div class="form-group">
                <input  class="form-control" 
                formControlName="firstName" 
                         type="text"
                         placeholder="Enter First Name"
                         [ngClass]="{'is-invalid': 
                         addProgrammerForm.get('firstName')!.touched && addProgrammerForm.get('firstName')!.invalid}"
                        />
                        <div class="invalid-feedback">
                          <div>FirstName is required</div>
                        </div>
            </div>
            <label class="form-group">Last Name </label>
            <div class="form-group">
                <input  class="form-control" 
                formControlName="lastName" 
                         type="text"
                         placeholder="Enter Last Name"
                         [ngClass]="{'is-invalid': 
                         addProgrammerForm.get('lastName')!.touched && addProgrammerForm.get('lastName')!.invalid}"
                        />
                        <div class="invalid-feedback">
                          <div>LastName is required</div>
                        </div>
            </div>
        
            <label class="form-group>">Gender </label>
            <div class="form-group">
                <select  class="form-control" formControlName="gender" [ngClass]="{'is-invalid': 
                addProgrammerForm.get('gender')!.touched && addProgrammerForm.get('gender')!.invalid}" >
                    <option *ngFor="let gender of genderList">
                        {{gender}}
                    </option>
                </select>
            </div>
  
            <label class="form-group">Date of joining</label>
            <div class="form-group">
              <input  class="form-control" 
              formControlName="doj" 
                       type="date"
                       placeholder="Enter Last Name"
                       [ngClass]="{'is-invalid': 
                       addProgrammerForm.get('doj')!.touched && addProgrammerForm.get('doj')!.invalid}"
                      />
                      <div *ngIf = "addProgrammerForm.get('doj')!.touched && addProgrammerForm.get('doj')!.invalid" class="invalid-feedback">
                        <div *ngIf = "addProgrammerForm.get('doj')!.errors!.required"  >Date of joing  is required</div>
                        <div *ngIf = "addProgrammerForm.get('doj')!.errors!.Date" >Date of joing must be a valid date</div>
                      </div>
            </div>
        </div>  
        <div class="form-group" style="width: 40%;">
          <img [src]= PhotoFilePath height="250px;" width="200px;">
          <input type="file" (change)="uploadPhoto($event)" class="mt-2"/>
          </div>  
     </div>
     <input type="submit" (click)="addProgrammer(addProgrammerForm.value)" value="Create accaunt" class="btn btn-info btn-block">
    </form>

    <form *ngIf="isAdded" class="form-signin" [formGroup]="form" (ngSubmit)="form.valid && register()" >
    <div class="panel panel-default">
       <div class="panel-body">

 
          <div class="form-group">
                <input id="inputLogin" class="form-control" 
                formControlName="login"
                         type="text"
                         placeholder="login"
                         [ngClass]="{'is-invalid': 
                        form.get('login')!.touched && form.get('login')!.invalid}"
                        />
                        <div class="invalid-feedback">
                          <div>Login is required</div>
                        </div>
          </div>
     
         
          <div class="form-group">
                <select  id="inputRole" class="form-control" formControlName="role" [ngClass]="{'is-invalid': 
                form.get('role')!.touched && form.get('role')!.invalid}"
                >
                  <option>--Select--</option>
                  <option *ngFor="let role of roleList">
                      {{role}}
                  </option>
              </select>
                        <div class="invalid-feedback">
                          <div>Role is required</div>
                        </div>
          </div>
        

          <div class="form-group">
            <input id="inputEmail" class="form-control" 
            formControlName="email"
                     type="text"
                     placeholder="email"
                     [ngClass]="{'is-invalid': 
                    form.get('email')!.touched && form.get('email')!.invalid}"
                    />
             <div *ngIf = "form.get('email')!.touched && form.get('email')!.invalid" class="invalid-feedback">
               <div *ngIf = "form.get('email')!.errors!.required"  >Email is required</div>
               <div *ngIf = "form.get('email')!.errors!.email" >Email must be a valid email address</div>
             </div>
          </div>

          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group">
                <input id="inputPassword"
                class="form-control" formControlName="password"
                type="password"
                required
                placeholder="password" required
                [ngClass]="{'is-invalid': 
                form.get('password')!.touched && form.get('password')!.invalid}"
                />
                <div class="invalid-feedback">
                  <div>Password is required</div>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password">
              </div>
            </div>
          </div>
          
          <input type="submit" value="Register" class="btn btn-info btn-block">

      </div>
    </div>
  </form>
</div>
</div>
