<div class="d-flex justify-content-center p-5 shadow">
    <div class="container-fluid ">
<table class="table table-stripped">
    <thead>
        <label>Programmer areas list</label>
        <tr *ngFor="let area of areas | IsSubscribeOnArea : true | paginate:  { itemsPerPage: iPage, currentPage: curPage }">
            <a [routerLink]="['/area', area.id]"></a>
            <td> {{area.name}}
             </td>
             <button  color="warn" class="unsub-button" (click)="deleteProgrammerArea(area)">Unsubscribe</button>
            </tr>
    </thead>
    <tbody>
        
       <tr *ngFor="let area of areas | IsSubscribeOnArea : false">
        <td> {{area.name}}
         </td>
         <button color="primary" class="unsub-button" (click)="addProgrammerArea(area)" > Subscribe</button>
      </tr>
      </tbody>
</table>
    </div>
</div>