
<form [formGroup] = "addAreaForm" (ngSubmit)="addArea()">

      <label>Name</label> <input matInput type="text" formControlName="name" minlength="1" required>

    <label>Description</label> <textarea matInput type="text" formControlName="description" minlength="1" required></textarea>
    <button type="submit" class="button" raised-button color="primary" [disabled]="addAreaForm.invalid"> Add Area</button>
  </form>

  
<title>Area list</title>
 <tbody>
   <tr *ngFor ="let area of areas;" >
    <a [routerLink]="['/area', area.id]">{{area.name}} {{area.description}}</a>
   <button icon-button aria-label="Example icon-button with a heart icon" (click)="deleteArea(area.id)">
    <label>delete</label>
  </button>
</tr>
</tbody>
  