<div class="d-flex justify-content-center p-5 shadow">

    <div class="container-fluid ">
    
    <table class="table table-stripped">
    <thead>
        <label>Programmer list</label>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Gender</th>
            <th>
                           
                <div class="d-flex flex-row">
                    <input [(ngModel)]="ProgrammerAreaFilter" class="form-control"
                    (keyup)="AreaFilter()" placeholder="Filter">
                </div>
                Area
                <tr>
                    <th>
                        Name</th>
                    <th>Description</th>
                </tr>
            </th>
        </tr>
    </thead>
    <tbody>
       <tr *ngFor="let programmer of Programmers">
        <td>{{programmer.lastName}} </td>
        <td>{{programmer.firstName}} </td>
        <td>{{programmer.gender}}</td>
        <td>
            <button type="button" class="btn btn-light mr-1"
            data-toggle="modal" data-target="#exampleModal"
            (click)="getAreasInfo(programmer.programmerId)"
            data-backdrop="static" data-keyboard="false">
            </button>           

                    <tr *ngFor= "let area of ProgrammerAreas">
                        <td>{{area.name}} </td>
                        <td>{{area.description}}</td>
                    </tr>

        </td>
      </tr>
      </tbody>
    </table>
    

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close"
          data-dismiss="modal" aria-label="Close"
           >
           <span aria-hidden="true">&times;</span>
         </button>
        </div>
        <div class="modal-body">
            <table class="table table-stripped">
                <thead>
                    <label>Area list</label>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                   <tr *ngFor="let area of ProgrammerAreas">
                    <td>{{area.name}} </td>
                    <td>{{area.description}} </td>
                  </tr>
                  </tbody>
                </table>
        </div>
      </div>
    </div>
  </div>


    </div>
    </div>